/* 
    Document   : style
    Created on : Jul 20, 2013, 6:04:06 PM
    Author     : Md Imran Hasan Hira<imran hasan hira AT gmail DOT com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.pagination-topalign div.pagination{
    margin-top: 0;
}