/* 
    Document   : style
    Created on : Jul 20, 2013, 6:04:06 PM
    Author     : Md Imran Hasan Hira<imran hasan hira AT gmail DOT com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/*.label{
    padding: 5px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.label-grey{

    background-color: #EEEEEE;
    border-color: #DDDDDD;
}*/