/* 
    Document   : style
    Created on : Jul 20, 2013, 6:04:06 PM
    Author     : Md Imran Hasan Hira<imran hasan hira AT gmail DOT com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.pagination-topalign div.pagination{
    margin-top: 0;
}

.transaction-actions form{
    display: inline;
    margin: 0;
    margin-right: 5px;
}


.transaction-actions button{
    border: none;
    background: none;
    padding: 0;
    line-height: normal;
}

.transaction-controlls form{
    margin-right: 15px;
}

div.transaction-div p{
    display: inline;
    color: #E13300;
}