.DS_Store

user_guide
user_guide/*

nbproject
nbproject/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess